<div>

    <div class="main">

        <app-orders (valueChange)='displayCounter($event)' [action]="'return-car'" [data]="data"></app-orders>

        <br>
        <div style="font-size: 30px; color: darkgoldenrod;">Car To Return: {{selectedOrder?.Number}}</div>
        <br>
        <div>
            <mat-form-field>
                <mat-label>Choose Return date</mat-label>
                <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div *ngIf="msgid==1" class="red1">Car Not Selected</div>
        <div *ngIf="msgid==2" class="red1">Date Not Selected</div>

        <div>
            <button mat-raised-button color="primary" (click)="returnCar()">Return the car </button>
            &nbsp;
            <span *ngIf="msgid==3"> Car Return OK</span>
            <span class="red1" *ngIf="msgid==4"> Car Return Failed</span>
        </div>
        <br>

    </div>

</div>