<div class="main">

    <div class="info">
        Welcome to Rent A car Portal
    </div>
    <div class="info2"> 

        
        <br>
        <div style="color: blue;">
            This company allow you to rent the most advance and relaible car in the counry
        </div>
        <br>
        <ul>
            <li>
                Guestss, can search a car and calculate the price by dates.
            </li>
            <li>
                Only Register User, can order a car from the avalible cars.
            </li>
            <li>
                Any one can Register and then order a car.
            </li>
            <li>
                Use your password to login and start ordering.
            </li>
            <li>
                All Uses can see old orders.
            </li>
        </ul>

        <br>




    </div>
    <div class="info" style="text-align: left;">
        <div>
            Tel: 090-88888888
        </div>
        Address: TEL AVIV
        <div>
        </div>
        <div>
            Mail : <a href="mailTo:aaa@aa.com">aaa@aa.com</a>
        </div>
    </div>

</div>