<div>

	<div class="logo" routerLink='/'>

	</div>

	<div class="main-menu">
		<div>
			<span *ngIf="loginGuardService.logged">[{{loginGuardService.logged}}] : <a (click)="logout()">logout</a></span>
		<span *ngIf="!loginGuardService.logged">guest, <a routerLink="/login">login</a></span>
		</div>
		<ul>
			<li>
				<a href="">Admin</a>
				<ul>
					<li><a routerLink="/users">User List</a></li>
					<li><a routerLink="/cars">Car List</a></li>
					<li><a routerLink="/cartype">CarType List</a></li>
					<li><a routerLink="/orders">Order List</a></li>
					<li><a routerLink="/new-car">New Car</a></li>
				</ul>
			</li>
			<li>
				<a href="">Employee</a>
				<ul>
					<li><a routerLink="/return-car">Return a car</a></li>
				</ul>
			</li>
			<li>
				<a href="">User</a>
				<ul>
					<li><a routerLink="/cars">Search Car</a></li>
				</ul>
			</li>
			<li>
				<a href="">Guest</a>
				<ul>
					<li><a routerLink="/register">Register</a></li>
					<li><a routerLink="/login">Login</a></li>
				</ul>
			</li>
		</ul>
		
	</div>

</div>
<router-outlet></router-outlet>