<div>

	<div class="logo" routerLink='/'>

	</div>

	<div class="main-menu">
		<div>
			<span *ngIf="loginGuardService.logged">User: [{{loginGuardService.logged}}] :
				<a id="logout" (click)="logout()">logout</a></span>
			<span *ngIf="!loginGuardService.logged">guest,
				<a id="login" routerLink="/login">login</a></span>
		</div>
		<br>
		<ul>
			<li>
				<a>Admin</a>
				<ul>
					<li><a routerLink="/users">User List</a></li>
					<li><a routerLink="/editcar">Car List</a></li>
					<li><a routerLink="/cartype">CarType List</a></li>
					<li><a routerLink="/edit-order">Order List</a></li>
				</ul>
			</li>
			<li>
				<a>Employee</a>
				<ul>
					<li><a routerLink="/return-car">Return a car</a></li>
				</ul>
			</li>
			<li>
				<a>User</a>
				<ul>
					<li><a routerLink="/start-order">Start Order</a></li>
					<li><a routerLink="/my-order">My Orders</a></li>
				</ul>
			</li>
			<li>
				<a>Guest</a>
				<ul>
					<li><a href="/register">Register</a></li>
					<li><a routerLink="/login">Login</a></li>
					<li><a routerLink="/search">Search & Calc</a></li>
				</ul>
			</li>
		</ul>

	</div>

</div>
<router-outlet></router-outlet>