
.main-menu{
  padding-top: 40px;
  width: 560px;
  direction: ltr;
  margin: 0 auto;
  text-align: left
}

body {
  font: 20px arial, helvetica, sans-serif;
  text-align: left;
}
a {
  color: #06c;
  text-decoration: none;
}
ul {			
  padding: 0;
  margin: 0;
  background: #fff;
}
li {
  display: inline-block;
  position: relative;
  padding: 5px 20px;
  line-height: 1.3;
  width: 100px;
}
ul li:hover {
  background-color:#ddd;
}
ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding-left: 0;
}
ul ul li {
  width: 100px;;
}
ul ul li:hover {
  background-color:#ddd;
}
li:hover ul {			
  display: block;
}

#logout, #login {
  text-decoration: underline;
}
