<div class="page">

    <div class="header">
        <h3 class="title"> New/ Edit Car </h3>
    </div>
 
    <div class="page-body brd1" style="display: flex;flex-flow: row;">

        <div style="width: 20%;">
            <div class="names">Number:</div>
            <div class="names">Branch:</div>
            <div class="names">CarType:</div>
            <div class="names">IsFree:</div>
            <div class="names">Isvalid:</div>
            <div class="names">Mileage:</div>
            <div class="names">choose File:</div>
        </div>
        <div style="width: 75%;" [formGroup]="form1" >
            <div class="fields"><input formControlName="Number" required type="text" class="input1 w300" [ngClass]="{'red': inValid('Number')  }"></div>
            <div class="fields"> 
                <select [value]="branch" (change)="onChange($event.target.value)" class="opt" [ngClass]="{'red': inValid('Branch')  }"  ><option *ngFor='let c of optBranch' value="{{c.key}}" >{{c.value}}</option></select>  
            </div>
            <div class="fields">
                <select [value]="cartype" (change)="onChangeType($event.target.value)" class="opt"  [ngClass]="{'red': inValid('CarType')  }"  ><option *ngFor='let c of optType' value="{{c.key}}" >{{c.value}}</option></select>  
            </div>
            <div class="fields"><input formControlName="IsFree" required type="text" class="input1 w300" [ngClass]="{'red': inValid('IsFree')  }">(0-busy,1-free)</div>
            <div class="fields"><input formControlName="Isvalid" required type="text" class="input1 w300" [ngClass]="{'red': inValid('Isvalid')  }">(0-not,1-valid)</div>
            <div class="fields"><input formControlName="Mileage" required type="text" class="input1 w300" [ngClass]="{'red': inValid('Mileage')  }"></div>
            <div class="fields"><input (change)="handleFileSelect($event)"   type="file" class="input1 w300" placeholder="choose file">
            
            </div>
             
        </div>
    </div>
    <div>
        <button mat-raised-button color="primary" style="background-color: orangered;" (click)="saveCar()">Save Car</button>
        <button mat-raised-button color="primary" style="background-color: grey;" (click)="cancel()">Cancel</button>
    </div>
    <p *ngIf="isOK"  class="success">Order Completed successfully</p>
    <p *ngIf="isNOK" class="failure">Action Failed</p>
    <br />
    <!-- <div>[ {{form1.value | json}} ]</div> -->
    <br />
</div>