

.header{
    
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
    text-decoration: underline;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: blue !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: blue !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: blue !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: blue !important;
   }
   
   
   mat-datepicker-toggle {
    color: blue !important;
   }

   .success{

    font-size: 25px;color: blue;
   }