/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("./assets/images/logo1.jpg") ;    
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.main {
    padding-top: 40px;
    width: 700px;
    margin: 0 auto;
}
.logo {
    background-image: url('./assets/images/logo.jpg');
    height: 70px;
    width: 100%;
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
