<div class="page">

    <div class="header">
        <h3 class="title"> Create User </h3>
    </div>

    <div class="page-body brd1" style="display: flex;flex-flow: row;">
        
        <div  style="width: 20%;">
            <div class="names">Id:</div>
            <div class="names">UserName:</div>            
            <div class="names">FullName:</div>
            <div class="names">Gender:</div>                        
            <div class="names">Email:</div>            
            <div class="names">Password:</div>            
            <div class="names">Role:</div>            
        </div>
        <div  style="width: 75%;" [formGroup]="form1"  >            
            <div class="fields"><input formControlName="id" required  type="text" class="input1 w300" ></div>
            <div class="fields"><input formControlName="userName" required  type="text" class="input1 w300" ></div>
            <div class="fields"><input formControlName="fullName" required  type="text" class="input1 w300" ></div>
            <div class="fields"><input formControlName="gender" required  type="text" class="input1 w300" ></div>
            <div class="fields"><input formControlName="email" required  type="text" class="input1 w300" ></div>
            <div class="fields"><input formControlName="password" required  type="text" class="input1 w300" ></div>
            <div class="fields"><input formControlName="role" required  type="text" class="input1 w300" ></div>  
                   
        </div>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="saveUser()">Save User</button>
    </div>

</div>
 